Як стати партнером
1. Загальні вимоги до сайтів
Мерчант — партнерська організація, що уклала з сервісом Portmone.com угоду про приймання платежів і надання послуг.
Під’єднати до мерчант-рахунку можна лише робочий сайт. Ресурс, що знаходиться в розробленні (зокрема на фінальному етапі), під’єднати не вийде.
Ваш сайт без проблем пройде перевірку, якщо:
всі сторінки виглядають коректно;
налаштоване грамотне внутрішнє перелінкування. На сайті мають бути відсутні такі види посилань:
з платою за клік;
партнерські;
що ведуть на інший сайт. Виняток — перехід на сторінку безпечної оплати;
перелік товарів, послуг або сервісів на сайті, в анкеті опису діяльності компанії та договорі з ФК збігається;
у кожного товару є характеристики, а у послуг або сервісів — чіткий опис;
відвідувач сайту відразу бачить ціни на товари, послуги або потрібні йому сервіси. Вартість зазначена в національній валюті.
Під час першого відвідування ресурсу користувач має за замовчуванням потрапляти на українську версію, незалежно від наявності та кількості інших мов інтерфейсу (відповідно до вимог ЗУ «Про забезпечення функціонування української мови як державної»).
Чи може компанія-мерчант отримати відмову в наданні послуг?
Може. Якщо сайт не відповідає вимогам МПС (міжнародних платіжних систем) або банків-еквайрів, компанії-мерчанту надається час для усунення недоліків і багів.
Зверніть увагу: банки-еквайри та сервіс Portmone.com мають право відмовити в партнерстві компанії-мерчанту без пояснення причин.
2. Сайт і домен
Сайт компанії-мерчанта, що уклала угоду про надання послуг з приймання платежів з Portmone.com, має бути розміщений на платному домені під єдиним доменним ім'ям.
Домен має бути оформлений на компанію-мерчанта.
Компанії-мерчанту мають належати домени першого, другого та третього рівнів (example(III).company(II).com (I)), і на них мають бути представлені одні й ті ж самі товари, послуги або сервіси.
Обов'язкова умова для партнера-мерчанта — наявність сертифіката SSL. Сторінки сайту, на яких вводиться особиста та платіжна інформація, мають починатися з https:// (а не з http://). Тільки в цьому випадку гарантується безпечне з'єднання та захист даних клієнтів.
3. Правова інформація
На сайті компанії-мерчанта мають бути опубліковані:
Політика конфіденційності, в якій перераховані заходи щодо захисту персональних даних клієнтів, інформація про шифрування TLS.
Договір оферти з умовами та термінами угоди.
Компанія-мерчант повинна детально описати умови та варіанти:
обміну та повернення фізичних товарів;
замовлення та використання послуг і сервісів;
скасування замовлення;
доставлення;
повернення та виведення грошових коштів.
Інформація може розміщуватися у вигляді окремих документів або сторінок, у рубриці «Відповіді-питання», тексті договору оферти або будь-яким іншим чином, доступним клієнтам для швидкого пошуку. Головне, щоб клієнт міг ознайомитися з умовами купівлі/продажу до моменту оплати та підтвердити згоду, поставивши «галочку» у відповідному полі або натиснувши на кнопку «Click to accept».
4. Логотипи платіжних систем
На сайті має розміщуватися інформація про способи оплати, що підтримуються:
дебетовою або кредитною банківською карткою;
за реквізитами на розрахунковий рахунок;
за допомогою сервісу Portmone;
післяплатою через службу доставлення;
через GPAY/APAY та інші варіанти.
На головній сторінці вебсайту компанія-мерчант повинна розмістити логотипи платіжних систем, через які клієнт може оплатити товар, послугу або сервіс (Visa, Mastercard, «Простір»). Логотипи платіжних програм «Verified by Visa» та «MasterCard Secure Code» можна завантажити в особистому кабінеті на сайті Portmone.com.
5. Оплата
У суму оплати товарів, послуг або сервісів мусять бути включені всі передбачувані витрати клієнта.
Покупець має бачити точну підсумкову суму платежу і детальний розрахунок, що містить вартість товару, послуги або сервісу, розмір знижки, ціну доставлення та інші додаткові витрати.
Клієнт має ознайомитися з цією інформацією до моменту оплати.
Перед перенаправленням на сторінку оплати клієнт повинен погодитися з умовами продавця. Для цього на вашому сайті має бути передбачена можливість вручну відзначити потрібний пункт або натиснути на кнопку «Згоден».
Після оплати користувач має бути перенаправлений на сторінку, де побачить результат. Це може бути підтвердження оплати, взяття замовлення в обробку (в разі успішної транзакції) або відхилення платежу.
Чи може компанія-мерчант зберегти платіжні дані клієнта для оплати наступних покупок?
Ні. Якщо у продавця немає сертифіката PCI DSS, він не має права запитувати та зберігати платіжні реквізити покупців. Клієнти мають вводити дані картки або рахунки тільки на сторінці безпечної оплати Portmone.com.
Чи може продавець відшкодувати утриману комісію?
Ні. Продавець не має права без повідомлення клієнтові збільшувати суму, додавати % або фіксовані комісії до суми платежу.
Чи можуть фізичні особи приймати платежі через «Портмоне»?
Можуть. Для цього у них має бути відкритий розрахунковий рахунок ФОП.
6. Контактна інформація
На сайті має розміщуватися така інформація:
повна назва компанії (бренду), а також найменування юридичної особи, що має відповідати зазначеному в анкеті;
фактична та юридична адреса;
ІПН (за наявності — номер ліцензії);
телефони керівництва та служби підтримки клієнтів;
адреса електронної пошти.
7. Обмеження
Сервіс «Портмоне» не співпрацює з сайтами та юридичними особами, що ведуть незаконну діяльність. Заборонена тематика:
послуги «18+». Зверніть увагу: нашим партнером не може стати сайт, котрий містить банери або посилання, що ведуть на подібні ресурси;
продаж лікарських препаратів, зокрема БАДів;
криптовалюта;
азартні ігри, лотереї, букмекерські послуги;
реалізація тютюнових виробів;
продаж контрафактної продукції та фальсифікатів (зокрема реплік);
продаж зброї та інших заборонених законодавством України товарів і послуг.